<h2> subscribe! </h2>
<form class="form-horizintal" role="from"
    action="/newsletter-singup/process?form=newsletter" method="post">
<input type="hidden" name="_csrf" value="{{csrf}}" id="">
<div class="from-group">
    <label for="fieldName" class="col-sm-2 cotrol-label">Name</label>
    
</div>
</form>